@model ChandrimERP.Models.EmployeeNomineeInfo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
@using (Html.BeginForm(null, null, FormMethod.Post,
                                     new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.DropDownList("EmpId", (IEnumerable<SelectListItem>)ViewBag.EmpId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NomineeName, new {htmlAttributes = new {@class = "form-control", @placeholder = "NomineeName"}})
                        @Html.ValidationMessageFor(model => model.NomineeName, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.NomineeDetails, new {htmlAttributes = new {@class = "form-control", @placeholder = "NomineeDetails"}})
                        @Html.ValidationMessageFor(model => model.NomineeDetails, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.DateOfBirth, new {htmlAttributes = new {@class = "form-control", @placeholder = "Date Of Birth"}})
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.Country, new SelectList(""), "Select Country", new { @class = "form-control", @id = "Country" })
                        @Html.ValidationMessageFor(model => model.Country, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.State, new SelectList(""), "Select State", new { @class = "form-control", @id = "State" })
                        @Html.ValidationMessageFor(model => model.State, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.City, new SelectList(""), "Select City", new { @class = "form-control", @id = "City" })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AddressLineOne, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address Line One" } })
                        @Html.ValidationMessageFor(model => model.AddressLineOne, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AddressLineTwo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address Line Two" } })
                        @Html.ValidationMessageFor(model => model.AddressLineTwo, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="col-md-8">
                    @{
                        var imagePath = "";
                        imagePath = Url.Content(Model.ImageUrl);
                    }
                    @if (imagePath != "")
                    {
                        <img src="@imagePath" class="avatar img-thumbnail" alt="avatar" style="width: 80%; height: auto; margin-bottom: 20px;">
                    }
                    <div id="alert" style="width: 80%;"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="file" class="text-center center-block file-upload" name="ImageUpload" accept="image/*" id="file" data-file_types="png|jpg|jpeg"/>
                        @Html.ValidationMessageFor(model => model.ImageUrl, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="col-md-8">
                    @{
                        var signPath = "";
                        signPath = Url.Content(Model.Signature);
                    }
                    @if (signPath != "")
                    {
                        <img src="@signPath" class="avatar2 img-thumbnail" alt="avatar2" style="width: 80%; height: auto; margin-bottom: 20px;">
                    }
                    <div id="alert" style="width: 80%;"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="file" class="text-center center-block file-upload2" name="SignUpload" accept="image/*" id="file2" data-file_types="png|jpg|jpeg" />
                        @Html.ValidationMessageFor(model => model.Signature, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Create" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
            empnomineeCreate();
        });
    </script>
}