@model IEnumerable<ChandrimERP.Models.EmployeePropInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employees.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeJoiningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpBasicSalary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employees.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeJoiningDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpBasicSalary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
