
@model ChandrimERP.Models.Transaction
<style>
    .table {
        width: 18.5cm;
        margin-left: 1.25cm;
        border: 1px solid #ccc;
    }

    .report td, .report th {
        border-right: 1px solid #ccc;
        border-bottom: inherit;
        border-top: inherit;
    }

    .report > tbody > tr > td {
        border-top: inherit;
    }

    .report tr {
        border: inherit;
    }

    .report th {
        border: 1px solid #ccc;
        background-color: #ccc;
        color: #000;
    }

    .companyInformation {
        position: relative;
        padding-top: 20px;
    }

        .companyInformation img {
            position: absolute;
            left: 50px;
        }

        .companyInformation p {
            margin-bottom: 0px;
        }

        .companyInformation .invoiceNum {
            position: absolute;
            right: 100px;
        }

    .tblAmountInfo, .tblAmountInfo > tbody > tr > td {
        border: inherit;
        padding: 0px;
    }

        .tblAmountInfo > tbody > tr > td label {
            font-weight: bold !important;
        }

    .d-none-p a {
        color: #000;
    }

    .d-none-p .btn:hover a {
        color: #fff;
    }
</style>
<page size="A4">
    <div>
        <div class="companyInformation">
            @{
                var imagePath = "";
                imagePath = Url.Content(Model.Branch.Company.CompanyLogo);
            }
            @if (imagePath != "")
            {
                <img src="@imagePath" class="avatar img-thumbnail" alt="avatar" style="height: 100px; width: auto; margin-bottom: 20px;">
            }
            <div class="invoiceNum text-center">
                <p>
                    @Html.DisplayFor(m => m.VoucherType) No
                </p>
                <p class="barcode">
                    *@Html.DisplayFor(model => model.VoucherNo)*
                </p>
                <code>
                    @Html.DisplayFor(model => model.VoucherNo)
                </code>
            </div>
            <h3 class="text-center">
                @Html.DisplayFor(model => model.Branch.Company.CompanyName)
            </h3>
            <div class="text-center">
                <p>@Html.DisplayFor(model => model.Branch.Company.AddressLineOne)</p>
                <p>@Html.DisplayFor(model => model.Branch.Company.Phone), @Html.DisplayTextFor(model => model.Branch.Company.Email)</p>
                <p>@Html.DisplayFor(model => model.Branch.Company.WebPage)</p>
                <p><strong>@Html.DisplayNameFor(model => model.Branch.BranchName) :</strong> @Html.DisplayFor(model => model.Branch.BranchName)</p>
            </div>
        </div>

        <table class="table tblAmountInfo">
            <tbody>
                <tr>
                    <td><br /><strong>@Html.DisplayFor(m => m.VoucherType)</strong> : @Html.DisplayFor(m => m.VoucherNo)</td>
                    <td style="text-align: right;"><br /><strong>DATE</strong> : @Html.DisplayFor(m => m.TransactionDate)</td>
                </tr>
            </tbody>
        </table>
        <table class="table report">
            <thead>
                <tr>
                    <th style="text-align: center;"><label>Particulars</label></th>
                    <th style="text-align: center; width:3cm"><label>Ledger No.</label></th>
                    <th style="text-align: center; width:3.5cm"><label>DEBIT AMOUNT</label></th>
                    <th style="text-align: center; width:3.5cm"><label>CREDIT AMOUNT</label></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TransactionDetailses)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.LedgerName)</td>
                        <td>@Html.DisplayFor(m => item.LedgerNo)</td>
                        <td>@Html.DisplayFor(m => item.DebitAmount)</td>
                        <td>@Html.DisplayFor(m => item.CreditAmount)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>@Html.DisplayFor(m => m.Narration)</strong></td>
                    <td style="text-align: right;"><strong>Total :</strong></td>
                    <td><label style="border-bottom:double  #808080">@Html.DisplayFor(m => m.TrasactionalAmount)</label></td>
                    <td><label style="border-bottom:double  #808080">@Html.DisplayFor(m => m.TrasactionalAmount)</label></td>
                </tr>
            </tfoot>
        </table>
        <table class="table tblAmountInfo">
            <tbody>
                <br />
                <br />
                <tr>
                    <td style="width:4.25cm;text-align: center;"><br /><strong style="border-top:solid 1px  #808080">Received By</strong></td>
                    <td style="width:4.25cm;text-align: center;"><br /><strong style="border-top:solid 1px #808080">Prepared By</strong></td>
                    <td style="width:4.25cm;text-align: center;"><br /><strong style="border-top:solid 1px #808080">Checked By</strong></td>
                    <td style="width:4.25cm;text-align: center;"><br /><strong style="border-top:solid 1px #808080">Authorized By</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="d-none-p">
            <div class="card-style-footer">
                <div class="btn-group right">
                    <button type="submit" class="btn btn-outline-primary button"> @Html.ActionLink("Back to List", "Index")</button>
                    <button type="button" onclick="print()" class="btn btn-outline-primary button button4"> Print </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</page>