@model ChandrimERP.Models.TailorOrder
<style>
    .table {
        width: 18.5cm;
        margin-left: 1.25cm;
        border: 1px solid #ccc;
    }

    .report td, .report th {
        border-right: 1px solid #ccc;
        border-bottom: inherit;
        border-top: inherit;
    }

    .report > tbody > tr > td {
        border-top: inherit;
    }

    .report tr {
        border: inherit;
    }

    .report th {
        border: 1px solid #ccc;
        background-color: #ccc;
        color: #000;
    }

    .companyInformation {
        position: relative;
        padding-top: 20px;
    }

        .companyInformation img {
            position: absolute;
            left: 50px;
        }

        .companyInformation p {
            margin-bottom: 0px;
        }

        .companyInformation .invoiceNum {
            position: absolute;
            right: 100px;
        }

    .tblAmountInfo, .tblAmountInfo > tbody > tr > td {
        border: inherit;
        padding: 0px;
    }

        .tblAmountInfo > tbody > tr > td label {
            font-weight: bold !important;
        }

    .d-none-p a {
        color: #000;
    }

    .d-none-p .btn:hover a {
        color: #fff;
    }
</style>
<page size="A4">
    <div>
        <div class="companyInformation">
            @{
                var imagePath = "";
                imagePath = Url.Content(Model.Branch.Company.CompanyLogo);
            }
            @if (imagePath != "")
            {
                <img src="@imagePath" class="avatar img-thumbnail" alt="avatar" style="height: 100px; width: auto; margin-bottom: 20px;">
            }
            <div class="invoiceNum text-center">
                <p>
                    @Html.DisplayNameFor(model => model.InvoiceNo)
                </p>
                <p class="barcode">
                    *@Html.DisplayFor(model => model.InvoiceNo)*
                </p>
                <code>
                    @Html.DisplayFor(model => model.InvoiceNo)
                </code>
            </div>
            <h3 class="text-center">
                @Html.DisplayFor(model => model.Branch.Company.CompanyName)
            </h3>
            <div class="text-center">
                <p>@Html.DisplayFor(model => model.Branch.Company.AddressLineOne)</p>
                <p>@Html.DisplayFor(model => model.Branch.Company.Phone), @Html.DisplayFor(model => model.Branch.Company.Email)</p>
                <p>@Html.DisplayFor(model => model.Branch.Company.WebPage)</p>
            </div>
        </div>


        <table class="table tblAmountInfo">
            <tbody>
                <tr><td><br /></td></tr>
                <tr>
                    <td>
                        <strong>
                            @Html.DisplayFor(model => model.Customer.CompanyName)<br />
                        </strong>
                        @Html.DisplayFor(model => model.Customer.ContactFirstName)
                        @Html.DisplayFor(model => model.Customer.ContactLastName)<br />
                        @Html.DisplayFor(model => model.Customer.Phone)<br />
                        <p> @Html.DisplayFor(model => model.Customer.Email)</p>
                    </td>
                    <td>
                        <strong>@Html.DisplayNameFor(model => model.OrderDate) :</strong> @Html.DisplayFor(model => model.OrderDate)<br />
                        <strong>@Html.DisplayNameFor(model => model.DueDate) :</strong> @Html.DisplayFor(model => model.DueDate)<br />
                        <strong>Sales Agent :</strong> @Html.DisplayFor(model => model.SalesAgent.Name)
                    </td>
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Branch.BranchName) :</strong> @Html.DisplayFor(model => model.Branch.BranchName)</td>
                    <td><strong>@Html.DisplayNameFor(model => model.Warehouse.WarehouseName) :</strong> @Html.DisplayFor(model => model.Warehouse.WarehouseName)</td>
                </tr>
            </tbody>
        </table>

        @if (Model.SeawingAmount != 0)
        {

        
        <table class="table report">
            @foreach (var item in Model.SeawingOrderDetails)
            {
                <tr>
                    <td>
                        <label> @Html.DisplayNameFor(m => item.TulLong) :</label> @Html.DisplayFor(m => item.TulLong) <br />
                        <label>  @Html.DisplayNameFor(m => item.ArradBody) :</label>@Html.DisplayFor(m => item.ArradBody)<br />
                        <label>  @Html.DisplayNameFor(m => item.KocchorWaist) :</label>@Html.DisplayFor(m => item.KocchorWaist)<br />
                        <label>  @Html.DisplayNameFor(m => item.Ibad) :</label>@Html.DisplayFor(m => item.Ibad)<br />
                    </td>
                    <td>
                        <label> @Html.DisplayNameFor(m => item.Hip) :</label>@Html.DisplayFor(m => item.Hip)<br />
                        <label> @Html.DisplayNameFor(m => item.KhetabShoulder) :</label>@Html.DisplayFor(m => item.KhetabShoulder)<br />
                        <label> @Html.DisplayNameFor(m => item.OrdunHand) :</label>@Html.DisplayFor(m => item.OrdunHand)<br />
                        <label> @Html.DisplayNameFor(m => item.Orgoba) :</label>@Html.DisplayFor(m => item.Orgoba)<br />
                    </td>
                    <td>
                        <label> @Html.DisplayNameFor(m => item.Throat) :</label>@Html.DisplayFor(m => item.Throat)<br />
                        <label> @Html.DisplayNameFor(m => item.GherEnclorure) :</label>@Html.DisplayFor(m => item.GherEnclorure)<br />
                    </td>
                    <td>
                        <label> @Html.DisplayNameFor(m => item.Qty) :</label>@Html.DisplayFor(m => item.Qty)<br />
                        <label> @Html.DisplayNameFor(m => item.Rate) :</label>@Html.DisplayFor(m => item.Rate)<br />
                        <label> @Html.DisplayNameFor(m => item.TotalAmount) :</label>@Html.DisplayFor(m => item.TotalAmount)<br />
                    </td>
                </tr>
            }
        </table>

        }
        @if (Model.TotalAmount != 0)
        {

        <table class="table report">
            <tr>
                <th>
                    <label>Product Code</label>
                </th>
                <th>
                    <label>Product Name</label>
                </th>
                <th>
                    <label>QTN</label>
                </th>
                <th>
                    <label>Per</label>
                </th>
                <th>
                    <label>Rate</label>
                </th>
                <th>
                    <label>Discount</label>
                </th>
                <th>
                    <label>Total</label>
                </th>
                <th>
                    <label>Free</label>
                </th>
                <th>
                    <label>VAT</label>
                </th>
            </tr>
            @foreach (var item in Model.TailorOrderDetail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.ProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ProductName)<br />
                        (@Html.DisplayFor(m => item.ProductDescription))<br />
                        @Html.DisplayFor(m => item.BatchOrSerial)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.MeasureUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.NetTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.BonusQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.VAT)
                    </td>
                </tr>
            }
        </table>
        }
        <table class="table tblAmountInfo">
            <tbody>
                <tr>
                    <td style="width:6.5cm"></td>
                    <td style="width:4cm"><label>Total Quantity</label></td>
                    <td style="width:2cm"><p>: @Html.DisplayFor(model => model.TotalQNT)</p></td>
                    <td style="width:4cm"><label>Total Amount</label></td>
                    <td style="width:2cm"><p>: @Html.DisplayFor(model => model.TotalAmount)</p></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="width:4cm"><label>Seawing Amount</label></td>
                    <td style="width:2cm"><p>: @Html.DisplayFor(model => model.SeawingAmount)</p></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="width:4cm"><label>VAT Amount</label></td>
                    <td style="width:2cm"><p>: @Html.DisplayFor(model => model.VatAmount)</p></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="width:4cm"><label>Less Amount</label></td>
                    <td style="width:2cm"><p>: @Html.DisplayFor(model => model.LaseAmount)</p></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="width:4cm"><label>Add Amount</label></td>
                    <td style="width:2cm"><p>: @Html.DisplayFor(model => model.Addamount)</p></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td style="width:4cm"><label>Net Amount</label></td>
                    <td style="width:2cm; border-bottom:double  #808080"><p>: @Html.DisplayFor(model => model.InvoicedAmount)</p></td>
                </tr>
                <tr>
                    <td colspan="5"><strong>Narration:</strong> @Html.DisplayFor(model => model.Narration)</td>
                </tr>
            </tbody>
        </table>
        <div class="d-none-p">
            <div class="card-style-footer">
                <div class="btn-group right">
                    <button type="submit" class="btn btn-outline-primary button"> @Html.ActionLink("Back to List", "SalesInvoiceReport")</button>
                    <button type="button" onclick="print()" class="btn btn-outline-primary button button4"> Print </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</page>