@model ChandrimERP.Models.EmployeeVm
@{
    ViewBag.Title = "Add New Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-home"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <div class="tab-content">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @if (ViewBag.Message == null)
                            {

                            }
                            else
                            {
                                <div class="alert alert-danger alert-dismissible fade in">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Error!</strong> @ViewBag.Message
                                </div>
                            }
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <h3 class="head text-center">Welcome to <strong>CHANDRIM</strong>ERP <sup>™</sup> <span style="color: #f48260;">♥</span></h3>
                                <p class="text-center">
                                    Dear, Thnks to use <strong>CHANDRIM</strong>ERP, Please have need to create a company.
                                </p>
                                <ul class="list-inline text-center">
                                    <li><button type="button" class="btn btn-success btn-outline-rounded green next-step">Create New Employee<span style="margin-left: 10px;" class="glyphicon glyphicon-send"></span></button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2" style="padding-top: 0px;">
                                <div class="card-style-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="d-flex">
                                                    @Html.DropDownList("BranchId", null, "Select Branch", htmlAttributes: new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="d-flex">
                                                    @Html.DropDownListFor(model => model.EmployeeType, (IEnumerable<SelectListItem>)ViewBag.EmpTypeList, "Select Employee Type", htmlAttributes: new { @class = "form-control", @id = "Emptype" })
                                                    <button id="Emptypebtn" type="button" class="fa fa-plus-circle fa-1x"></button>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.EmployeeType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label" })
                                                <div class="d-flex">
                                                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.BussinessPhone, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.BussinessPhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.BussinessPhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="col-md-8">
                                            @{
                                                var imagePath = "";
                                                imagePath = Url.Content(Model.ImageUrl);
                                            }
                                            @if (imagePath != "")
                                            {
                                                <img src="@imagePath" class="avatar img-thumbnail" alt="avatar" style="width: 80%; height: auto; margin-bottom: 20px;">
                                            }
                                            <div id="alert" style="width: 80%;"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-8">
                                                <input type="file" class="text-center center-block file-upload" name="ImageUpload" accept="image/*" id="file" data-file_types="png|jpg|jpeg" />
                                                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-style-footer">
                                    <div class="btn-group right">
                                        <button type="button" class="btn btn-default prev-step">Previous</button>
                                        <button type="button" class="btn btn-primary next-step">Save and continue</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="tab-pane" role="tabpanel" id="step3" style="padding-top: 0px;">
                                <h3 class="text-center" style="color: midnightblue;">Employee Persional Information</h3>
                                <div class="card-style-body">
                                    <div class="col-md-6">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">

                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EnumDropDownListFor(model => model.Genders, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Genders, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EnumDropDownListFor(m => m.BloodGroup, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.BloodGroup, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.HomePhone, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.HomePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.MobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.TinNumber, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.TinNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TinNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.NationalId, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.NationalId, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.NationalId, "", new { @class = "text-danger" })
                                                @Html.ValidationMessage("NationalIdExist", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.Country, new SelectList(""), "Select Country", new { @class = "form-control", @id = "Country" })
                                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.State, new SelectList(""), "Select State", new { @class = "form-control", @id = "State" })
                                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.City, new SelectList(""), "Select City", new { @class = "form-control", @id = "City" })
                                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.AddressLineOne, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.AddressLineOne, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AddressLineOne, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.AddressLineTwo, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.AddressLineTwo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AddressLineTwo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.ZipOrPostalCode, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.ZipOrPostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ZipOrPostalCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-style-footer">
                                    <div class="btn-group right">
                                        <button type="button" class="btn btn-default prev-step">Previous</button>
                                        <button type="button" class="btn btn-primary next-step">Save and continue</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete" style="padding-top: 0px;">
                                <h3 class="text-center" style="color: midnightblue;">Employee Professional Info</h3>
                                <div class="card-style-body">
                                    <div class="col-md-6">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.EmployeeJoiningDate, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.EmployeeJoiningDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EmployeeJoiningDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EnumDropDownListFor(model => model.SalaryTypes, htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.SalaryTypes, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.EmpBasicSalary, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.EmpBasicSalary, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.EmpBasicSalary, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.IsOvertime, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.LabelFor(model => model.IsOvertime, htmlAttributes: new { @class = "control-label" })
                                                @Html.ValidationMessageFor(model => model.IsOvertime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="checkbox">
                                                    @Html.EditorFor(model => model.Status)
                                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-style-footer">
                                    <div class="btn-group right">
                                        <button type="button" class="btn btn-default prev-step">Previous</button>
                                        <input type="submit" value="Create A New Employee" class="btn btn-default " />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                                                }

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="Emptypemodel"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Create Employee Type</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="col-md-12 ">
                            @Html.DropDownList("CompanyId", null, "Select Your Company", htmlAttributes: new { @class = "form-control", @id = "companyname" })
                            <input type="text" class="input-group" id="empt" placeholder="Employee Type" style="width: 100%;" />
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary button button4" id="saveEmpType">Create</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary button button4"> Close </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
            employeeEmployee();
        });
    </script>
}