@model ChandrimERP.Models.Employee
@{
    ViewBag.Title = "Add New Business";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
     .acc  a{
         padding: 8px;
         text-decoration: none;
         background-color: #00bfff;
         color: #fff;
         border-radius: 5px;
         align-items: center;
     }
     .acc  a:hover{
         padding: 9px;
         text-decoration: none;
         background-color: #00bfff;
         border-radius: 5px;
         color: #000;
     }
</style>

<div class="content-body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal cusform">
            <h4>Update Employee</h4>
            <hr style="border-top: 1px solid black; padding: 0px; margin: 0px;" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12 inputGroupContainer">
                    @Html.HiddenFor(model => model.CompanyId, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 inputGroupContainer">
                    @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control",@id = "ID" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 inputGroupContainer">
                    @Html.HiddenFor(model => model.EmpTypeId, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>
            
            <div class="form-group acc">
                <div class="col-md-12">

                    <a href="#" class="btn btn-outline-primary button button4" onclick="window.location.href='@Url.Action("UpdateEmployeePersonal", "Employees")' + '?id=' + '@ViewBag.pId'">Update Employee Persional Info</a>
                </div>
            </div>
            <div class="form-group acc">
                <div class="col-md-12">
                    @Html.ActionLink("Update Employee Nominee Info", "Employee")
                </div>
            </div>
            <div class="col-md-8">
                @{
                    var imagePath = "";
                    imagePath = Url.Content(Model.ImageUrl);
                }
                @if (imagePath != "")
                {
                    <img src="@imagePath" class="avatar img-thumbnail" alt="avatar" style="width: 80%; height: auto; margin-bottom: 20px;">
                }
                <div id="alert" style="width: 80%;"></div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="file" class="text-center center-block file-upload" name="ImageUpload" accept="image/*" id="file" data-file_types="png|jpg|jpeg" />
                    @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label" })
                    <div class="d-flex">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.BussinessPhone, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.BussinessPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BussinessPhone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        </div>
                    }
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            employeeEmployee();
        });
    </script>
}